@model Wedding
<div class="container vw-100">
    <div class="row">
        <div class="col-12">
            <h1 class="text-danger">Welcome to @Model.WedOne and @Model.WedTwo Wedding!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
            <h2>@Model.WedDate</h2>
            <h2 id="end">@Model.WedAddy</h2>
            <h3>Guests: </h3>
            <ul class="mb-2">
                @if (Model.RSVPs.Count == 0)
                {
                    <li>No One likes y'all !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</li>
                }

                @foreach (RSVP r in @Model.RSVPs)
                {
                    <li>@r.Guests.FirstName</li>
                }
            </ul>
        </div>
    </div>
    <div class="w-100">
        <form >
            <input hidden id="wedAddy" value="@Model.WedAddy" />
            <input class="form-control-lg" style="width:50%;" type="text"
                   id="start"
                   name="start"
                   required
                   autocomplete="off" />
            <input class="btn btn-outline-info" type='submit' id="useBtn" name="useBtn" value="Start" />
        </form>
        <div class="d-flex">
            <div class="col-lg-6" id="map" name="map">
            </div>
            <div style="visibility: hidden;" class="bg-white p-1 col-lg-4" id="panel"></div>
        </div>
    </div>

</div>

@section Scripts{
        <script src="~/js/ShowWed.js"></script>

        <script async 
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFE9QAktiA1PXqXJuJO1rWxAHFjOG9ato&callback=initMap&libraries=places">
        </script>
}


